body {
    font-family: 'Noto Sans KR', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #f7f7f7;
    color: #333;
    margin-top: 50px;
}

h1 {
    color: #5a4b4b;
}

button {
    background-color: #5a4b4b;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-bottom: 20px;
}

button:hover {
    background-color: #7c6a6a;
}

#webcam-container {
    margin-top: 20px;
    border: 5px solid #ddd;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    overflow: hidden;
}

#label-container div {
    font-size: 18px;
    margin: 5px 0;
    padding: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

#result-container {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #e94d5a;
}
